

.div-center-custloandialog {
    width: 70%;
    height: 400px;
    background-color: #e8e4da;
    /*background-color: #fff;*/ /* For browsers that do not support gradients */
    background-image: linear-gradient(to top right, gainsboro, ghostwhite);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border: 2px solid #ccc;
    border-radius: 2%;
    display: table;
}

.close-icon-custloandialog {
    border: none;
    font-size: 1.7em;
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 1%;
}

.close-icon-custloandialog:hover i {
    transform: scale(0.9);
    color:  darkslategrey;
}
