h3 {
    /*color: darkblue;*/
    margin-top: 0px;
    padding: 0 0 0 0;
}

.back {
    background: #e2e2e2;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.login-page {
    width: 400px;
    height: 200px;
}


